/* -----------------------------------------------------------------
    - Website
----------------------------------------------------------------- */
body{
    background-color: rgb(56, 56, 56) !important;
    color: whitesmoke !important;
}
.container {
    text-align: center;
    margin: 0 auto;
    
}
.sectiontitle {
    font-size: 3em;
    font-weight: bold;
    margin: 3px auto;
}
/* -----------------------------------------------------------------
    - Header
----------------------------------------------------------------- */
.headersection {
    height: 100vh;
}
.headerwrap {
    top: 40%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    color: rgb(221, 220, 220);
}
.headerwrap img {
    object-fit: cover;
    border-radius: 50%;
    width: 12%;
    height: auto;
}
.headerwrap h1 {
    font-size:2.5em;
}
.headerwrap h3 {
    font-size:1.5em;
}
.headerwrap h4 {
    font-size:1em;
}
.headerlink {
    color: hotpink;
    text-decoration: none;
}
/* -----------------------------------------------------------------
    - About
----------------------------------------------------------------- */
/* About Me CSS */
.aboutme {
    justify-content: center;
    height: 100%;
    margin: 1em;
}
.aboutme img {
    object-fit: cover;
    border-radius: 50%;
    height: auto;
}
.myskills {
    height: 100%;
    margin: 1em;
  }
.progress {
    border-radius: 0 !important;
}
@-webkit-keyframes animate-positive{
    0% { width: 0%; }
}
@keyframes animate-positive{
    0% { width: 0%; }
}
/* Portfolio */
.card{
    transition: transform .3s;
}
.card:hover{
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
            box-shadow: 8px 10px 0.2rem rgba(0,0,0,0.3);
}
/* -----------------------------------------------------------------
    - Portfolio
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
    - Options
----------------------------------------------------------------- */
.option {
    border-radius: 1em;
    border: .15em solid black;
    transition: transform .3s;
    justify-content: center;
    margin-bottom: 5vh;
}
.option:hover{
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
.optionTitle {
    text-align: center;
    border-bottom: .1em solid hotpink;
    margin-bottom: 1em;
}
.optionprice {
    color:white;
    background-color:hotpink;
    border-radius: 3em;
    border: .25em solid white;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2vh;
}
/* -----------------------------------------------------------------
    - Contact
----------------------------------------------------------------- */
.contactlink{
    font-size: 1.75em;
    text-decoration: none;
    color: hotpink;
}
.footer{
    height: 22vh;
}