.container {
    width: 95%;
    text-align: center;
    margin: 0 auto;
}
.headersection {
    height: 100vh;
}
.headercontainer {
    display: block;
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: rgb(221, 220, 220);
}
.headercontainer img {
    border-radius: 50%;
}
.headerlink {
    color: hotpink;
    text-decoration: none;
}

.pricessection {
    height: 80vh;
}
.optionContainer {
    display: flex;
    height: 80%;
    justify-content: center;
}
.option {
    width: 25vw;
    height: 100%;
    background-color: teal;
    margin: 2em; 
    transition: transform .2s;
}
.option:hover{
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

.sectiontitle {
    font-size: 3em;
    font-weight: bold;
}