/* -----------------------------------------------------------------
    - Website
----------------------------------------------------------------- */

body {
    color: whitesmoke !important;
    overflow-x: hidden;
}

.container-fluid {
    text-align: center;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(56, 56, 56, 0.7) !important;
}

.header {
    height: 100%;
}


/* Medium devices (desktops, 1400px and up) */

@media (max-width: 1400px) {
    .particles {
        height: 200vh !important;
    }
    .container-fluid {
        text-align: center;
        height: 200vh;
        margin: 0 auto;
        background-color: rgb(56, 56, 56, 0.7) !important;
    }
    .bordered {
        border-color: rgb(245, 245, 245, 0.0);
    }
}


/* Small devices (desktops, 992px and up) */

@media (max-width: 992px) {
    .particles {
        height: 300vh !important;
    }
    .container-fluid {
        text-align: center;
        height: 300vh;
        margin: 0 auto;
        background-color: rgb(56, 56, 56, 0.7) !important;
    }
    .bordered {
        border-color: rgb(245, 245, 245, 0.0);
    }
}


/* -----------------------------------------------------------------
    - Header
----------------------------------------------------------------- */

.headerimage {
    border-radius: 50%;
}

.link {
    color: hotpink;
    text-decoration: none;
}

.saying {
    color: hotpink;
    padding: 0px auto !important;
    margin-top: 5px !important;
}

.socialicon {
    height: 42px;
    width: 42px;
    transition: transform .4s;
    margin: 5px;
}

.socialicon:hover {
    -webkit-transform: scale(1.1) rotate(360deg);
    transform: scale(1.1) rotate(360deg);
}